body {
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  margin-top: 2%;
  text-align: center;
}
  
h2 {
  color: white;
  font-size: 150px;
  background: url('https://media.giphy.com/media/PqKtdLXZYCJ4A/giphy.gif');
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}


.tabs {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: bgGrad 10s ease infinite;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

@-webkit-keyframes bgGrad {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.tabs p {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  line-height: 30px;
  height: 100px;
  width: 50%;
  margin: -5px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.tabs button {
  background: white;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

button.title {
  padding: 10px;
}

button:focus {
  outline: none;
  background: gold;
  color: black;
}

button:hover {
  background: gold;
  color: black;
}